<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smxy.application.mapper.RewardPunishmentMapper">
	<resultMap id="BaseResultMap" type="cn.smxy.application.bean.RewardPunishment">
		<!-- WARNING - @mbg.generated -->
		<id column="ap_id" jdbcType="INTEGER" property="apId" />
		<result column="ap_month" jdbcType="INTEGER" property="apMonth" />
		<result column="al_allowance" jdbcType="DOUBLE" property="alAllowance" />
		<result column="al_date" jdbcType="DATE" property="alDate" />
		<result column="ap_description" jdbcType="VARCHAR" property="apDescription" />
		<association property="mEmployer" column="ap_em_id"
			javaType="cn.smxy.application.bean.Employer"
			select="cn.smxy.application.mapper.EmployerMapper.selectEmployerById">
		</association>
		<association property="mProject" column="ap_project"
			javaType="cn.smxy.application.bean.Dictionary"
			select="cn.smxy.application.mapper.DictionaryMapper.selectDictionaryById">
		</association>
	</resultMap>

	<select id="selectRewardPunishmentByCondition" resultMap="BaseResultMap">
		select
		* from oa_reward_punishment
		<if test="stype == 0">
			where ap_em_id = #{skey}
		</if>
	</select>

</mapper>